<div class="row verification-info">
  <p class="title"><%= t('verification.pending_title') %></p>

  <% if Features.presential_verifications? %>
    <%= render "verification/info_presential" %>
  <% else %>
    <%= render "verification/info" %>
  <% end %>

</div>
