<p>
<%= t('verification.reasons_online_html', form:
      link_to(t('verification.online_name').downcase, sms_validator_step1_path)) %>
</p>

<%= render partial: "verification/requirements" %>

<div class="center">
  <%= link_to t('verification.online_cta'), sms_validator_step1_path, class: "button" %>
</div>

