<div class="requirements">
  <p class="title"><%= t('verification.requirements.header') %></p>

  <ol class="lettered">
    <li><%= t('verification.requirements.local_id') %></li>
    <li><%= t('verification.requirements.foreign_id') %></li>
    <li><%= t('verification.requirements.foreign_cera_id') %></li>
  </ol>
</div>

