<div class="box-info login-box election-box">
  <h2><%= t("voting.election_one") %></h2>
  <p class="poll-q"><%= election.title %></p>
  <p class="date"><%= l election.starts_at, format: :date %> - <%= l election.ends_at, format: :date %></p>

</div>
