<nav class="<%= "steps#{steps.size}" %>">
  <ul>
    <% steps.each_with_index do |step, i| %>
      <li <%= if current_step == i + 1 then 'class=active' end %>>
        <span class="block">
          <span class="tab-number"><%= (i + 1).to_s %></span>
          <span class="tab-text"><%= step.to_s %></span>
        </span>
      </li>
    <% end %>
  </ul>
</nav>
